body{
	position: relative;
	font-family: "儷黑 Pro", "微軟正黑體";
	background: #e8e8e8 url(../images/bg.png) repeat;
}
header.carousel {height:auto}
.navbar-container{
    padding-left: 10px;
    padding-right: 50px;
}
.navbar-inverse{
	background-color: #f5a21b;
    background-image: none;
    box-shadow:3px 3px 4px rgba(20%,20%,40%,0.3);
}
a {
    color: #ff7800;
    text-decoration: none;
    font-weight: bold;
}

hr{
	border-top: 1px solid #d2d2d2;
}
h3{
  line-height: 1.5;
	padding-bottom: 0px;
}
h4{
	color: #666;
	font-weight: bold;
	padding-top: 20px;
}
h5{
	font-size: 16px;
	line-height: 22px;
	color: #ff7800;
	font-weight: bold;
}
.text-primary {
    color: #ff7800;
}

.page-header {

	padding-bottom: 9px;
    margin: 40px 0 20px;

}

.navbar-inverse .navbar-nav>li>a
{
	color: #080808;
}
.navbar-brand{
    padding: 3px 15px;
}
.carousel-inner img {
    /*width: 100%;*/
    margin: auto;
}

.txtBox{
    background-color: #fff;
    padding: 10px 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.txtBox2 {
    background-color: #19b1c1;
    padding: 10px 15px 40px 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.img-hover{
	border: 4px #fff solid;
	border-radius: 8px;
}

.img-hover:hover {
	border: 4px #f08000 solid;
}

.carousel-control {
	width: 3%;
	font-size: 30px;
	color: #ea7400;
	opacity: 1;
}

.carousel-control.left {
	background: transparent;
}

.carousel-control.right {
	background: transparent;
}

.container {
	padding-left: 10px;
	padding-right: 10px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ff9000;
    border-color: #ff9000;
}
.articleBOX{background-color: #f6f6f6; padding: 10px; border-radius: 5px; margin: 20px 0;}
.articleBOX ul{ margin: 30px 0 0 0; padding: 0;}
.articleBOX h6{ height: 40px; text-align: center; color: #fff; background-color: #ff7e00; line-height: 40px; font-size: 16px;border-radius: 5px; }
.articleBOX li{list-style: none; border-bottom: 1px dotted #ff7e00; line-height: 30px; height: 30px; margin: 0; padding: 0; text-align: center; }
.articleBOX li:hover{display: block; background-color: #fff; }
.articleBOX a{color: #3f3f3f;}
.articleBOX a:hover{color: #ff7e00; text-decoration: none; }






@media (max-width: 1180px){
	.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
		color: #000;
	}
	.nav>li>a:focus, .nav>li>a:hover {
		background-color: #000;
	}
	.articleBOX{display: none;}
}
.dropdown-menu {
	min-width: auto;
}
.articleDATE{background-color: #f6f6f6; padding: 5px; text-align: right;}
.tab-content{background-color: #fff; height: auto; float: left; padding: 20px 10px; border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd; border-radius: 5px;}
.tab-content h3{color: #ff6c00;font-size: 1.3em; line-height: 30px; padding: 0; margin:0;}
.tab-content img{border-radius: 5px; border: 1px #ff6c00 solid; opacity: .9;}
.tab-content img:hover{opacity:1;}
.tab-content span{position: absolute; top: 10px; right: 20px; background-color: #ff6c00; font-size: 14px;}


/*video*/
.video-container {
 position: relative;
 padding-bottom: 56.25%;
 padding-top: 30px;
 height: 0;
 overflow: hidden;
 margin-bottom: 20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;

}
/*happy-sticker*/
.happy-line{
	border-top: 4px solid #e8700a;
	max-width: 80px;
	margin-top: 10px;

}


/*T-star*/
.table{
	width: 100%;
	max-width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	table-layout: fixed;

}
.price-t {
 text-align: center;
	color: #4c4c4c;
	font-size: 1.3em;
	font-weight: 500;
}
.table>thead>tr>th {
	border-bottom: 1px solid;
	background-color: #87286e;
	color: #fff;
	font-size: 24px;
	padding: 12px;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.special{
	color: #ce23a1;
	font-weight: 800;
}

.price-d {
 text-align: center;
 background-color: #f7f7f7;

}
.price-d2 {
 text-align: center;
 background-color: #fff;

}
.table>tbody>tr>td {
	border-top: 0px solid;
	padding:10px;
}
.btn-star{

	border: 1px solid;
	border-radius: 5px;
	color:#87286e;
	padding:6px 16px;

}
.btn-star:hover {
	color:#87286e;
	opacity: 0.7;

}
.page-happy {
	margin-bottom: 30px;
	color:#ec8126;
	font-weight: 600;
}

.page-happy2 {
	margin-bottom: 20px;
	margin-top: 40px;
	color:#ec8126;
	font-weight: 800;
}
.intro{

	text-align: center;
	margin-bottom: 20px;

}
.img-happy{

	max-width: 40%;
	height: auto;

}

.happy-p{
	font-size: 17px;
	font-weight: 600;
	color:#545454;
}
@media (max-width: 768px) {
	.navbar-container{
	    padding-left: 0px;
	    padding-right: 0px;
	}
.img-happy{

	max-width:100%;
	height: auto;


}
.page-happy2 {
	margin-bottom: 10px;
	margin-top: 40px;
	color:#ec8126;
	font-weight: 800;
	font-size: 18px;
}
.happy-line{
	border-top: 4px solid #e8700a;
	max-width: 100px;
	margin-top: 20px;
	margin-bottom: 40px;

}
}
