@charset "utf-8";
/* CSS Document */


.container .table {
    width: 92%;
    border: 1px solid #dedede;
}


#home h2{
 color: #f06600;
 letter-spacing: 1px;
 font-size: 30px;
}


#home h2:before{
    display: inline-block;
    font-family: 'FontAwesome';
    content: '\f101';
    padding-right: 15px;
font-size: 35px;
}


#home td,
#home th,
	#home2 td,
	#home2 th {
vertical-align:middle;
text-align: center;
}


#home,
#home2 {
  width: 100%;
  height: auto;
}
#home2 img,
#home img{
  border: none;
  max-width: 100%;
  height: auto;
}


.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #f06600;
}
.team-cloumn {
   min-width: 75px;
}
.girl {
    color: red;
}
.live {
    font-weight:bolder;
}
.win {
    color: red;
}
.phone {
	display:none;
}
.web {
	display: block;
	margin:auto;
}

@media (max-width: 767px) {


	.phone {
		display:block;
	}

	.web {
display: none;

	}
	.live {
		min-width: 80px;
	}

body {
	overflow-x: hidden;
}


}