.name {
	margin: 0 200px;
	padding: 30px 0;
}


.name h3{
	text-align: left;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: bold;
	color: black;
	background-color: #ebebeb;
	padding: 15px 0;
	padding-left:200px;
}



.name h3::before{
    font-family: 'FontAwesome';
    content: '\f138';
    font-size: 20px;
    padding-right: 18px;
    position: relative;
    top:3px;
}


.content {
padding: 0 200px;
text-align: justify;
line-height: 35px;
}


.title {
	font-weight: bold;
}


.center {
	text-align: center;
}


.center2 {
	text-align: left;
}


@media (max-width: 767px) {


.name h3{
	text-align: left;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: bold;
	color: black;
	background-color: #ebebeb;
	padding: 15px 0;
	padding-left:10px;
}


.name {
	margin: 0 10px;
	padding: 10px 0;
}



.content {
padding: 0 10px;
}

.center2 {
	text-align: center;
}


}