@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'msjh';
}

@font-face {
    font-family: 'ADMUI3';
}

/* Box Model */

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
.select_menu {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "微軟正黑體";
}

body {
    background-color: #f2f2f2;
}

#body .container {
    max-width: 100%;
    height: auto;

}



#body .logo img {
    position: relative;
    top: 40px;
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

#body .banner img {
    position: relative;
    top: 60px;
    width: 98.5%;
    height: 80%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}


#body .facebook p {
    position: relative;
    top: 90px;
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'msjh';
    font-weight: bold;
    background-color: #000000;
    padding: 0;
}


#body .facebook p:hover {
    color: white;
    background-color: #004f93;
    cursor: pointer;
    transition: 0.8s;
}


#body .join p {
    position: relative;
    top: 90px;
    width: 60%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: 'msjh';
    font-weight: bold;
    background-color: #bc0000;
    padding: 0;
}


#body .join p:hover {
    color: white;
    background-color: #000000;
    cursor: pointer;
    transition: 0.8s;
}


#body .finish p {
    position: relative;
    top: 90px;
    width: 60%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: 'msjh';
    font-weight: bold;
    background-color: #ff8900;
    padding: 0;
}
#body .finish-note p {
    position: relative;
    top: 90px;
    width: 60%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: red;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: 'msjh';
    font-weight: bold;
    background-color: #ff8900;
    padding: 0;
    padding-top: 5px;
}



#body .select ul {
    position: relative;
    top: 75px;
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #000000;
    font-size: 20px;
    letter-spacing: 2px;
    font-family: 'msjh';
    font-weight: bold;
    padding: 0;
}



#body .right-now p {
    position: relative;
    top: 90px;
    width: 60%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: 'msjh';
    font-weight: bold;
    background-color: #bc0000;
    padding: 0;
}


#body .right-now p:hover {
    color: white;
    background-color: #000000;
    cursor: pointer;
    transition: 0.8s;
}


#body .list p {
    position: relative;
    top: 80px;
    width: 60%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #000000;
    font-size: 24px;
    letter-spacing: 4px;
    font-family: 'msjh';
    font-weight: bold;
    padding: 0;
    border: 2px solid black;
    border-left: none;
    border-right: none;
}


#body .name p {
    position: relative;
    top: 80px;
    width: 60%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #ac0000;
    font-size: 22px;
    letter-spacing: 4px;
    font-family: 'msjh';
    font-weight: bold;
    padding: 0;

}




/*------------------------------------------------*/

@media(max-width:768px) {

    #body .container {
        padding: 0;
    }


    #body .logo img {
        position: relative;
        top: 15px;
        width: 35%;
        height: 35%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;

    }

    #body .banner img {
        position: relative;
        top: 30px;
        width: 100%;
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    #body .facebook p {
        width: 80%;
        height: 45px;
        font-size: 15px;
        letter-spacing: 3px;
        position: relative;
        top: 55px;
    }


    #body .join p {
        width: 80%;
        height: 45px;
        font-size: 15px;
        letter-spacing: 3px;
        position: relative;
        top: 55px;
    }

    #body .finish p {
        width: 80%;
        height: 45px;
        font-size: 15px;
        letter-spacing: 3px;
        position: relative;
        top: 55px;
    }

    #body .select ul {
        width: 80%;
        height: 45px;
        font-size: 17px;
        letter-spacing: 3px;
        position: relative;
        top: 70px;
    }



    #body .right-now p {
        width: 80%;
        height: 45px;
        font-size: 15px;
        letter-spacing: 3px;
        position: relative;
        top: 90px;
    }


    #body .list p {
        width: 100%;
        height: 45px;
        font-size: 18px;
        letter-spacing: 3px;
        position: relative;
        top: 50px;
    }

    
    #body .name p {
        width: 100%;
        height: 45px;
        font-size: 18px;
        letter-spacing: 3px;
        position: relative;
        top: 60px;

}

}
